@import '@fontsource/sora/400.css';
@import '@fontsource/sora/500.css';
@import '@fontsource/sora/600.css';
@import '@fontsource/sora/700.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Sora', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: 'Sora', system-ui, sans-serif;
}
